<footer class="bg-dark text-white pt-5 pb-4 fixed-bottom">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4">
        <p>NaganoCake</p>
      </div>
      <div class="col-md-8">
      </div>
    </div>
  </div>
</footer>